<!-- todo -->
<div class="w-100" style="height: 150px; background: url(/AyiaNapa.jpg) no-repeat fixed;">
@*<div class="w-100" style="height: 150px; background: url(/ChabadNapa/AyiaNapa.jpg) no-repeat fixed;">*@
    <div class="w-100 h-100" style="display: grid;">
        <h1 class="text-white text-center w-100" style="font-weight: 800; align-self: center;">
            @Title
        </h1>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
