@page "/About"

<PageTitle>Chabad Napa</PageTitle>

<div class="w-100" style="height: 150px; background: url(/AyiaNapa.jpg) no-repeat fixed;">
    <div class="w-100 h-100">
        <h1 class="text-white text-center w-100" style="font-weight: 800;">
            title
        </h1>
    </div>
</div>

<div class="container-sm py-5" style="min-height: 100vh; max-width: 700px;">
    <img class="w-100 mb-3" alt="chabbad aya napa nymark family" src="/family.jpeg"
         style="box-shadow: 1px 2px 10px black;"/>
    <p style="font-size: 25px;">
        <!-- {{fontSize:25,textAlign:lang = ='he' ?'right':'left'}} -->
        <i>about</i>
    </p>
    <hr />
</div>

@code {

}
