@page "/Donate"
@using ChabadNapa.Components

@inherits ChabadNapa.Models.PageBase

<PageTitle>Chabad Napa</PageTitle>

<PageHeader Title="@Loc.Keys["donate"]" />

<div style="display: grid; place-content: center; margin-top: 20px;">
    <a href="https://secure.cardcom.co.il/e/6Cv/" class="btn btn-blue" target="_blank" rel="noreferrer">
        @Loc.Keys["safe_donate"]
    </a>
</div>
<div style="display: grid; place-content: center; margin-top: 20px;">
    <iframe src="https://secure.cardcom.co.il/e/6Cv/" class="donate-frame"></iframe>
</div>
