@page "/Donate"
@using ChabadNapa.Components

<PageTitle>Chabad Napa</PageTitle>

<PageHeader Title="Donate"/>

<div style="display: grid; place-content: center; margin-top: 20px;">
    <a href="https://secure.cardcom.co.il/e/6Cv/" class="btn btn-blue" target="_blank" rel="noreferrer">
        {text[lang].btn}
    </a>
</div>
<div style="display: grid; place-content: center; margin-top: 20px;">
    <iframe src="https://secure.cardcom.co.il/e/6Cv/" class="donate-frame"></iframe>
</div>

@code {

}
