@page "/Hotels"
@using ChabadNapa.Components
@using ChabadNapa.Models

@inherits ChabadNapa.Models.PageBase
@inject HttpClient Http

<PageTitle>Chabad Napa</PageTitle>

<PageHeader Title="@Loc.Keys["hotels"]" />


<div class="container py-3 text-center" style={{maxWidth:800}}>
    <div class="row mx-0" style="place-content: center;">
        @foreach (var cat in _InfoCategories)
        {
            <Card Title="@(State.IsCulture("he-IL") ? cat.Title.He : cat.Title.En)"
                  Link="@cat.Link"
                  ImgSrc="@cat.Img" />
        }
    </div>
</div>

@code
{
    Hotel[]? _InfoCategories;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //todo
        _InfoCategories = await Http.GetFromJsonAsync<Hotel[]>("/ChabadNapa/data/hotels.json");
        //_InfoCategories = await Http.GetFromJsonAsync<Hotel[]>("/data/hotels.json");
    }
}
