@page "/Info/{category}"
@using ChabadNapa.Components
@using ChabadNapa.Extensions
@using ChabadNapa.Models

@inject HttpClient Http

<PageTitle>Chabad Napa</PageTitle>

<PageHeader Title=@String.Format($"Info / {Category}") />

<div class="row mx-0" style="place-content: center">
    @if (CurrInfoItems?.Any() ?? false)
    {
        @foreach (var item in CurrInfoItems)
        {
            <Card ImgSrc="@item.Img"
          Title="@item.Name" />
        }
    }
    else
    {
        <div style="min-height: 90vh; display: grid; place-content: center;">
            <h4>
                No items found
            </h4>
        </div>
    }
</div>

@code {

    [Parameter]
    public string? Category { get; set; }

    public InfoItem[]? CurrInfoItems { get; set; }
    
    InfoCategory _Category;

    protected override async Task OnInitializedAsync()
    {
        if (!Enum.TryParse<InfoCategory>(Category, out var cat)) return;

        _Category = cat;

        var resp = await Http.GetFromJsonAsync<InfoItem[]>("/data/infoItems.json");

        CurrInfoItems = resp?
            .Where(i => i.GetCategories().Any(c => c == _Category))
            .ToArray();

    }
}
