@page "/Info"
@using ChabadNapa.Components
@using ChabadNapa.Models

@inject HttpClient Http

<PageTitle>Chabad Napa</PageTitle>

<PageHeader Title="Info"/>

<div class="container py-3 text-center" style={{maxWidth:800}}>
    <div class="row mx-0" style="place-content: center;">
        @foreach(var cat in _InfoCategories)
        {
            <Card Title="@cat.Title" Link="@cat.Link" ImgSrc="@cat.ImgUrl"/>
        }
    </div>
</div>

@code {

    InfoItem[]? _InfoCategories;
    
    protected override async Task OnInitializedAsync()
    {
        _InfoCategories = await Http.GetFromJsonAsync<InfoItem[]>("data/categoris.json");
    }
}
