@page "/ShabbatMeals"

<PageTitle>Chabad Napa</PageTitle>

<div class="w-100" style="height: 150px; background: url(/AyiaNapa.jpg) no-repeat fixed;">
    <div class="w-100 h-100">
        <h1 class="text-white text-center w-100" style="font-weight: 800;">
            title
        </h1>
    </div>
</div>

<iframe class="donate-frame" src="https://reg.koshertraveling.co/ayi/f/"></iframe>

@code {

}
