@using ChabadNapa.Components

@inherits LayoutComponentBase

<div>
  
    <Navbar/>

    <main>
        @Body
    </main>
    
    <footer>
        <h5 class="text-center">&copy; YUDI KAHN @DateTime.Now.Year</h5>
    </footer>
</div>
